body {
  margin:150px;
  color:aliceblue;
  background-color:rgb(46, 17, 6);
  background-image: url("/img/image2.jpg");
  background-repeat:repeat;
}
img {
  padding: 40px;
  background-color:rgb(56, 48, 37);
  width:340px;
  height:240px;
}
p {
  text-align:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a {
  padding:10px;
  background-color:darkslategrey;
  margin:5%
}
a:any-link {
  color:aliceblue;
}
h1 {
  text-align:center;
  font-family:cursive;
  background-color: darkred;
  color: yellow;
}
h2 {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}
