body {
  margin-left:700px;
  margin-right:700px;
  color:aliceblue;
  background-color:rgb(29, 59, 33);
}
img {
  padding: 40px;
  background-color:rgb(147, 218, 147);
  width:240px;
  height:160px;
  text-align: left;
}
p {
  text-align:center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a {
  line-height:200%;
  padding:10px;
  background-color:rgb(102, 197, 126);
  margin:1%;
  outline-color:aliceblue;
  outline:10px;
}
a:any-link {
  color:aliceblue;
}
h1 {
  text-align:left;
  background-color:rgb(175, 247, 196);
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(0, 47, 68);
}
h2 {
  text-align:right;
  font-family:'Courier New', Courier, monospace;
}
